@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Alef", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .login-input {
    @apply block
    w-full
    h-10
    px-3
    py-1.5
    text-base
    font-normal
    shadow-md
    text-gray-700
    bg-white bg-clip-padding
    border border-solid 
    border-gray-300
    rounded
    transition
    ease-in-out
    m-0
    focus:text-gray-700 
    focus:bg-white 
    focus:border-lalasia-primary 
    focus:outline-none;
  }
}
